* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: #007ac0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: scroll;
}

#root {
  width: 100%;
  height: 100%;
}
